 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 22px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 8px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 8px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  font-size: 1.5rem;
  margin: 54px auto 0 0;
  padding: 16px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 463px;
  width: 463px;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-1 .u-image-1 {
    height: 360px;
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 110px;
} .u-section-3 {
  background-image: none;
  min-height: 659px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -112px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 126px;
  grid-gap: 0px 0px;
  grid-auto-columns: 100%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-1 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-2 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-3 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-4 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-5 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-5 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-6 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-6 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-7 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-7 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-8 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-8 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-9 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-9 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-10 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-10 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 40px;
}

.u-section-3 .u-group-elements-11 {
  width: 312px;
  min-height: 39px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-3 .u-text-11 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-11 {
  width: 33px;
  height: 33px;
  margin: -35px 0 0 auto;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 47px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-3 .u-container-layout-12 {
  padding: 0;
}

.u-section-3 .u-image-12 {
  width: 543px;
  height: 460px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 538px;
  background-image: none;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px 0 28px;
}

.u-section-3 .u-text-12 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 0 auto 0 34px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: 31px 23px 0 37px;
}

.u-section-3 .u-text-14 {
  margin: 62px auto 0 34px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-3 .u-image-12 {
    width: 470px;
    height: 398px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 33px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 24px;
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-3 .u-image-12 {
    width: 360px;
    height: 305px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 23px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 23px;
    margin-left: 17px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 753px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-12 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 534px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-3 .u-image-12 {
    width: 340px;
    height: 288px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-13 {
    margin-left: 31px;
    margin-right: 31px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 384px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  width: 360px;
  margin: 31px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 940px;
  margin: 31px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 250px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: auto;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 2px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: auto;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 2px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: auto;
  margin-top: 2px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  height: auto;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 2px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-4 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: NaNpx;
  }

  .u-section-4 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 32px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 32px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 61px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 194px;
  }
}

.u-section-4 .u-image-4,
.u-section-4 .u-image-4:before,
.u-section-4 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.2) !important;
}

.u-section-4 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 602px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 37px 540px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1124px;
  margin: 38px auto 60px;
}

.u-section-5 .u-image-1 {
  min-height: 375px;
  background-image: url("images/phase1.png");
  background-position: 50% 0%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 375px;
  background-image: url("images/phase2.png");
  background-position: 50% 0%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  min-height: 375px;
  background-image: url("images/phase3.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 331px;
  }

  .u-section-5 .u-image-2 {
    min-height: 331px;
  }

  .u-section-5 .u-image-3 {
    min-height: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 120px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 254px;
  }

  .u-section-5 .u-image-2 {
    min-height: 254px;
  }

  .u-section-5 .u-image-3 {
    min-height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1475px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 775px;
  }

  .u-section-5 .u-image-2 {
    min-height: 775px;
  }

  .u-section-5 .u-image-3 {
    min-height: 723px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 360px;
  }

  .u-section-5 .u-image-2 {
    min-height: 360px;
  }

  .u-section-5 .u-image-3 {
    min-height: 455px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 619px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 50px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 0 25px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 58px 25px 0;
}

.u-section-6 .u-text-3 {
  margin: 50px 25px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-4 {
  margin: 50px 25px 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin: 50px 25px 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 511px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-image-1 {
  height: 448px;
  margin-top: 63px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-6 .u-image-1 {
    height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-6 .u-image-1 {
    height: 456px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-6 .u-image-1 {
    height: 281px;
  }
}