// 05. Objects

// Users of OOCSS will be familiar with the concept of objects. This is the first layer in which we find class-based selectors.
// These are concerned with styling non-cosmetic design patterns, or 'objects'. Objects can range from something as simple as
// a .wrapper element, to layout systems, through to things like the OOCSS poster child – the Media Object.
// This layer affects less of the DOM than the last layer, has a higher specificity, and is slightly more explicit in that we are
// now targeting sections of the DOM with classes.

/************************  *************************/

/* 			     Objects - Desktop 			       */

/************************  *************************/

.col-50 {
    float: left;
    width: 50%;
}

.font-bold {
    font-weight: 600;
}

.font-bolder {
    font-weight: 700;
}

.font-normal {
    font-weight: normal;
}

.font-green {
    color: var(--poncho_green);
}

.left {
    float: left;
}

.margin-none {
    margin: 0 !important;
}

.no-wrap {
    white-space: nowrap;
}

.padding-left {
    padding-left: 20px;
}

.padding-right {
    padding-right: 20px;
}

.right {
    float: right;
}

.row {
    display: inline-block;
    float: left;
    width: 100%;

    &--max {
        margin: 0 auto;
        max-width: 1280px;
        position: relative;
    }

    &--max-padding {
        margin: 0 auto;
        max-width: 1280px;
        padding: 0 2rem;
        position: relative;
    }
}

/************************  *************************/

/* 	             Objects - Mobile  	 	           */

/************************  *************************/

@include media("xxl") {}

@include media("xl") {}

@include media("lg") {
    .col-50 {
        width: 100%;
    }

    .padding-left {
        padding-left: 0;
    }

    .padding-right {
        padding-right: 0;
        padding-bottom: 10px;
    }
}

@include media("md") {}

@include media("sm") {}

@include media("xs") {}

@include media("xxs") {}

/************************  *************************/

/* 			     Objects - Print  	               */

/************************  *************************/

@media print {}