/************************  *************************/

/* 			     	 Font Variables  	       	   */

/************************  *************************/

// Base body font
$font-size-main: 16;
$font-size-main-px: 16px;

$font-size-1: 28px;
$font-size-1-em: calc(28 / $font-size-main) * 1rem;

$font-size-2: 22px;
$font-size-2-em: calc(22 / $font-size-main) * 1rem;

$font-size-3: 20px;
$font-size-3-em: calc(20 / $font-size-main) * 1rem;

$font-size-4: 18px;
$font-size-4-em: calc(18 / $font-size-main) * 1rem;

$font-size-5: 16px;
$font-size-5-em: 1em;

$font-size-6: 15px;
$font-size-6-em: calc(15 / $font-size-main) * 1rem;

$font-size-7: 14px;
$font-size-7-em: calc(14 / $font-size-main) * 1rem;

$font-size-8: 13px;
$font-size-8-em: calc(13 / $font-size-main) * 1rem;