/************************  *************************/

/* 			     	 Font Variables  	       	   */

/************************  *************************/

// Base body font
$font-size-main: 22;
$font-size-main-px: 22px;

$font-size-1: 50px;
$font-size-1-em: calc(50 / $font-size-main) * 1rem;

$font-size-2: 28px;
$font-size-2-em: calc(28 / $font-size-main) * 1rem;